# Polimi credentials
POLIMI_USERNAME=
POLIMI_PASSWORD=
POLIMI_TOTP_URI=

# Schedule
CHECK_START_HOUR=9
CHECK_INTERVAL_HOURS=12
INCLUDE_RESIDENCE_NOTICE_PAGE=true

# Telegram
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
