# Polimi credentials
POLIMI_USERNAME=
POLIMI_PASSWORD=
POLIMI_TOTP_URI=

# Target
ACADEMIC_YEAR=2026/2027

# Schedule
CHECK_START_HOUR=9
CHECK_INTERVAL_HOURS=12
SUBSCRIBER_NOTIFICATIONS_ENABLED=true
DELAYED_NOTIFICATIONS_ENABLED=true
NOTIFICATION_DELAY_MINUTES=15
INCLUDE_RESIDENCE_NOTICE_PAGE=true

# Telegram
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_IDS=
